.action-container {
  display: flex;
  width: 75%;
  margin: 30px auto 10px;
  align-items: end;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.action-description {
  color: #5b5f67;
  /*font-weight: bold;*/
  /*margin-left: auto;*/
  margin-bottom: 5px;
}

.action-input {
  padding: 15px;
  height: auto;
  border: 1px solid #cbd0d4;
}

.action-button {
  /*max-width: 23%;*/
  padding: 15px 20px;
  background: #5b5f67;
  color: white;
  letter-spacing: 0.5px;
  margin-left: 10px;
  font-weight: bold;
  border: 1px solid #565a62;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.action-button:hover {
  background: #36393e;
  border: 1px solid #36393e;
  flex-grow: 1;
}
